body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0 8rem;
  color: hsl(243, 87%, 12%);
}

.background-image {
  position: relative;
  bottom: 30rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-top: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 12rem 0;
  font-size: 1.3rem;
}

.navbar-item {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
}

.navbar-item {
  margin-left: 3rem;
}

/* 1st main section */

.row {
  position: relative;
}

.folder-img {
  width: 100%;
  position: relative;
  bottom: 6rem;
}

.mail-input {
  width: 400px;
  height: 50px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border-color: hsl(0, 0%, 75%);
}

::placeholder {
  color: hsl(0, 0%, 75%);
}

.mail-input {
  padding-left: 1rem;
}

.getstarted-button {
  width: 250px;
  height: 50px;
  margin-left: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(224, 93%, 58%);
  border-radius: 5px;
}

.getstarted-button:hover {
  background-color: hsl(224, 89%, 65%);
}

/* 2nd main section */

.background-bottom-section {
  height: 150px;
  background-image: url('/images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  margin: 6rem -8rem 0 -8rem;
}

.bottom-section-container {
  position: relative;
  margin: 0 8rem 8rem;
}

#main-bottom-section {
  background-color: hsl(240, 75%, 98%);
  margin: 0 -8rem;
}

.people-img {
  width: 100%;
  position: relative;
  top: 2rem;
}

.motiv-text-section {
  padding-right: 3rem;
}

.see-how-link {
  color: hsl(170, 45%, 43%);
  line-height: 2;
  font-size: 20px;
}

.see-how-link:hover {
  color: hsl(170, 90%, 55%);
}

.arrow-icon {
  height: 25px;
}

.opinion-box {
  border-radius: 15px;
  margin-top: 3rem;
  width: 35rem;
  height: 27rem;
  background-color: white;
  margin-bottom: 6rem;
  box-shadow: 0px 0px 15px 2px hsl(0, 0%, 74%);
}

.inside-opinion-box {
  padding: 1rem 2rem;
  line-height: 2;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.avatar-img {
  margin-top: 2.5rem;
  height: 80px;
  border-radius: 50%;
}

.avatar-opinion {
  display: flex;
}

.avatar-title {
  margin: 0.8rem 0 0 1rem;
}

.avatar-name {
  position: relative;
  font-size: 18px;
  top: 38px;
}

.avatar-lvl {
  font-size: 15px;
}

/* Early acces section */

#early-acces-section {
  margin: -8rem;
  background-color: hsl(238, 22%, 44%);
}

.early-acces-container {
  padding-top: 6rem;
  margin: 0 8rem;
  padding-bottom: 4rem;
}

.early-acces-text,
.sub-early-acces-text {
  color: white;
}

.acces-right-section {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.mail-input-bottom {
  width: 600px;
  margin-left: 1.5rem;
}

/* Footer section */

#footer {
  margin: 8rem -8rem 0 -8rem;
  background-color: hsl(243, 87%, 12%);
  height: 22rem;
}

.footer-container {
  margin: 3rem 8rem;
  padding-top: 4rem;
  color: white;
}

.footer-text {
  font-size: 16px;
  line-height: 0.5;
}

.footer-logo {
  filter: brightness(0) invert(1);
}

.footer-icon{
  margin-right: 1rem;
}

.footer-mid{
  margin-top: 3rem;
}

.brand-icon{
  margin-right: 2rem;
  padding-top: 4rem;
}
/* MOBILE VIEW */

@media screen and (max-width: 960px) {

  body {
    text-align: center;
    margin: 0 3rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 16px;
  }

  /* Navbar section */

  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 7rem 0;
  }

  .navbar-item {
    font-size: 15px;
  }

  .logo {
    width: 25%;
  }

  .navbar-item {
    margin-left: 1rem;
  }

  /* 1st main content */
  .sub-header-text {
    margin-top: 3rem;
  }

  .header-section {
    margin-top: 3rem;
  }

  .img-section {
    order: -1;
  }

  .folder-img {
    bottom: 2rem;
  }

  .mail-submit-section {
    text-align: center;
  }

  .getstarted-button,
  .mail-input {
    width: 100%;
    margin: 0.5rem 0;
  }

  /* 2nd main content */

  .background-bottom-section {
    position: relative;
    height: 80px;
    background-image: url('/images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin: 6rem -8rem 0 -8rem;
    text-align: center;
  }

  .people-img-section {
    order: -1;
    margin-bottom: 6rem;
  }

  .motiv-text-section {
    margin-top: 2rem;
  }

  .motiv-text-section {
    padding: 0;
  }

  .bottom-sub-text {
    text-align: start;
  }

  .opinion-box {
    width: 85vw;
    height: 310px;
  }

  .see-how-link {
    font-size: 1rem;
  }

  .inside-opinion-box {
    text-align: start;
  }

  .avatar-opinion {
    position: relative;
    bottom: 3rem;
  }

  .avatar-text {
    font-size: 15px;
  }

  .avatar-name {
    font-size: 10px;
  }

  .avatar-lvl {
    margin-top: 1rem;
    font-size: 10px;
  }

  .avatar-img {
    width: 15%;
    height: 15%;
  }
  #footer{
    height: 50rem;
    text-align: left;
  }

}